.header {
    position: relative;
    background-color: white;
    padding: 5px 5px 5px 5px;
    width: fit-content;
    color: black;
    border: 2px solid #fa003f;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
    text-align: center;
}

.grocery_store_name{
    background-color: white;
    color: #fa003f;
    border: 2px solid #fa003f;
    font-family: "Courier New", Verdana, sans-serif;
    padding: 20px;
    text-align: left;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

.tabLinks{
    color:black;
    border: 1px solid #fa003f; 
    background-color: white;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.80em;
}

.tabLinks:hover{
    cursor: pointer;
    color: #fa003f; 
}

footer{
    text-align: right;
    font-size: .75em;
}

